@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    background: #FF8C00;
}

.headerBtnGroup {
    display: flex;
    justify-content: end;
}

a {
    text-decoration: none;
}

.navBtn {
    border-radius: 25px;
    background-color: #ffffff;
    border: none;
    color: rgb(62, 61, 61);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 15px;
}

.navBtn:hover {
    background-color: #e8e2e2;
}

.container-body {
    display: flex;
    height: 50;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 10px;
    background: #ffffff;
     /*  muda a cor on de se encontra os input*/
    flex-direction: column;
    row-gap: 40px;
    width: 800px;
    text-align: center;
    /* flex-direction: column; */
    margin: auto;
    border-color: #FF8C00;
    box-shadow: 1px 3px 8px 4px #FF8C00;
    margin-bottom: 60px;
    margin-top: 60px;
    border-radius: 20px;
}


.container {
    /* width: 100%; */
    /* max-width: 80px;  */
    /* border-style: solid; */
    background: #ffffff;
    /* padding: 25px 30px; */
    /* border-radius: 25px;
    border-style: solid; */
    border-color: #000000;
}

.container .title {
    font-size: 24px;
    position: relative;
}

.container form .campos {
    display: flex;
    flex-wrap: wrap;
}

form .campos .input-box {
    width: calc(89% / 2 - 20px);
    margin: 10px;
    box-shadow: 5px 5px 5px  #FF8C00;
    background-color:  #FF8C00;
    
}

.campos .input-box input {
    height: 50px;
    width: 100%;
    box-shadow: 5px 2px 5px  #999797;
    border: none;
    border-radius: 5px;
    background-color:  #FF8C00;
    margin: auto;
}

input[type="text"],
input[type="telefone"],
input[type="email"],
textarea,
textarea::placeholder,
input::placeholder {
    font-size: large;
    padding: 5px;
    background-color:  #FF8C00;
    
}

.campos .input-box textarea {
    resize: none;
    height: 60px;
    width: 100%;
    box-shadow: 2px 2px 2px rgb #000000;
    ;
    border: none;
    border-radius: 5px;
    background-color:  #FF8C00;
    margin: auto;
}

form .button {
    height: 50px;
    margin: 50px 0;
}

form .button button {
    height: 100%;
    width: 100%;
    box-shadow: 5px 5px 5px  #FF8C00;
    border-color: #FF8C00;
    border-radius: 5px;
    font-size: large;
    outline: none;
    color:  #FF8C00;
    background:  #ffffff;
    letter-spacing: 2px;
    font-weight: 500;
    cursor: pointer;
}

form .button button:hover {
    background-color:  #999797;
}

.contacts {
    width: 100%;
    max-width: 800px;
    border-style: solid;
    background: #FF8C00;
    padding: 25px 30px;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: #FF8C00;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    box-shadow: 3.5px 3.5px 3.5px  #FF8C00;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    background-color:  #FF8C00;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.contact:hover {
    transform: translateY(-5px);
    /* Efeito de levantamento ao passar o mouse */
}

@media (max-width: 600px) {
    .container {
        max-width: 100%;
    }
    .contacts {
        max-width: 100%;
    }
    form .campos .input-box {
        width: 100%;
        margin-bottom: 15px;
    }
}

.div-flex {
    display: flex; align-items: center; justify-content: center;
}
